<!DOCTYPE html>
<html lang="ch"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="|tinyMCE编辑器 _${@app.name}|">tinyMCE编辑器 _程序员暖窝</title>

    <script src="https://cdn.jsdelivr.net/npm/tinymce@5.7.0/tinymce.min.js"
            integrity="sha256-8uOQP4lBuxvRxuON8XgR8rMWBn9xkoHkAnSwuFUme4k="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/spark-md5@3.0.1/spark-md5.min.js" integrity="sha256-2A6EyCDMVYegujyKIGUgmeo/p/xDlE6BLlbUScHZ8ck=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/common.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
</head>


<body class="bg-primary">

<div th:replace="page::site-header"></div>

<div class="container mb-5">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="rounded p-2 bg-secondary" id="vue">
            <div class="mt-1">tinyMCE编辑器</div>
            <div class="mt-1">标题</div>
            <div class="mt-1">
                <input type="text"
                       v-model="title"
                       class="form-control w-100">
            </div>
            <hr class="mb-2 mt-2">
            <div class="mt-1">
                <label for="file">附件文件</label>
                <input type="file" id="file"
                       class="form-control w-100">
            </div>
            <hr class="mb-2 mt-2">
            <div class="mt-1">
                <label>附件密码</label>
                <input type="text"
                       class="form-control w-100"
                       v-model="attachmentPassword">
            </div>
            <hr class="mb-2 mt-2">
            <div class="mt-1">内容</div>
            <div id="content" class="mt-1"></div>
                <div class="mt-1">
                    公开 <input type="radio" checked id="postTypePublic" value="1" name="postType">
                    私密 <input type="radio" value="2" name="postType">
                </div>
            <button class="btn w-100 btn-primary" @click="publish" id="publishButton" v-text="publishText">发布</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var vue = new Vue({
        el: "#vue",
        data:{
            title: "",
            attachmentPassword: "",
            publishText:"发布"
        },
        methods: {
            publish: function(){
                var content = tinyMCE.activeEditor.getContent();
                var title = this.title.trim();
                var formData = new FormData();
                if(file.files[0] != undefined && file.files[0] != null){
                    formData.append("attachment",file.files[0]);
                }
                formData.append("title",title);
                formData.append("content",content);
                if(document.getElementById("postTypePublic").checked) {
                    formData.append("postType", "1");
                }else{
                    formData.append("postType", "2");
                }
                formData.append("groupId","[[${groupId}]]");
                if(this.attachmentPassword.trim()){
                    formData.append("attachmentPassword",SparkMD5.hash(this.attachmentPassword.trim()));
                }
                this.publishText = "正在发布中";
                publishButton.disabled = true;
                $.ajax({
                    url: "/api/post/publish",
                    dataType: "json",
                    type: "post",
                    processData: false,
                    contentType: false,
                    data:formData,
                    success: (data)=>{
                        this.publishText = "发布";
                        location.href = "/group/[[${groupId}]]_1.html";
                    },
                    error: (e)=>{
                        this.publishText = "发布";
                        publishButton.disabled = false;
                        alert(e.responseJSON.message);
                    }
                })
            }
        }
    });

    tinymce.init({
        selector:'#content',
        convert_urls: false,
        language:'zh_CN',
        language_url: 'https://cdn.jsdelivr.net/npm/tinymce-i18n@20.12.25/langs5/zh_CN.js',
        plugins: 'image code lists advlist autolink autoresize autosave codesample fullscreen hr imagetools insertdatetime link preview save searchreplace table wordcount textcolor',
        toolbar: 'forecolor backcolor image link codesample table  bullist fullscreen numlist restoredraft code',
        autosave_retention: "1440m",
        autosave_ask_before_unload: false,
        min_height: 420,
        max_height: 600,
        images_upload_handler: function (blobInfo, success, failure) {
            var data = new FormData();
            data.append("dataType","image");
            data.append("files",blobInfo.blob(),blobInfo.filename());
            $.ajax({
                url: "/upload",
                data: data,
                processData: false,
                contentType: false,
                type: "post",
                dataType: "json",
                success: function(data){
                    data.data.forEach(function(item){
                        success(item.url);
                    })
                },
                error: function(error){
                    failure("上传图片失败");
                }
            })
        },
        mobile: {
            menubar: true
        }
    });

</script>

<div th:replace="page::site-footer"></div>


</body>

</html>
