<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>控制中心</title>
</head>
<body>
<a href="/control_center/index.html">控制中心</a>
<table>
    <thead>
    <tr>
        <th>用户ID</th>
        <th>昵称</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>注册时间</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${userItemVo.items}">
        <td th:text="${item.userId}"></td>
        <td th:text="${item.userNickname}"></td>
        <td th:text="${item.userUsername}"></td>
        <td th:text="${item.userEmail}"></td>
        <td th:text="${#dates.format(item.userCreateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
    <a th:if="${userItemVo.hasPrevious}"
       th:href="@{/control_center/users.html?page={page}&limit={limit}(page=${userItemVo.previousPage},limit=${userItemVo.pageSize})}">上一页</a>
    <a th:if="${userItemVo.hasNext}"
       th:href="@{/control_center/users.html?page={page}&limit={limit}(page=${userItemVo.nextPage},limit=${userItemVo.pageSize})}"
    >下一页</a>
</table>
</body>
</html>